{#
  This is an example home page template. It inherits and extends a layout template
  that lives in the top-level views/ folder for convenience
#}

{% extends "layout.html" %}

{% block main %}
<div
  x-data
  class="container"
  :class="$store.darkMode.on && 'bg-black'"
  x-init="$watch('$store.darkMode.on', val => console.log(val))"
>
  <button class="dm" x-data @click="$store.darkMode.toggle()">DM</button>
  <section  class="content">
    {% area data.page, 'main' %}
  </section>
</div>
{% endblock %}
